.booking .header {
  background-image: url(../../images/booking/hero-bg-mobile.jpg);
  @include resolution(high) {background-image: url(../../images/booking/hero-bg-mobile@2x.jpg);}
  p { max-width: 36ch;}
  &__intro {
    margin-bottom: 20rem;
    text-align: center;
  }

  @include respond(tab-land) {
    background-image: url(../../images/booking/hero-bg-tablet.jpg);
     @include resolution(high) {background-image: url(../../images/booking/hero-bg-tablet@2x.jpg);}
    .logo { justify-self: start;}
    .btn { display: none;}
  }

  @include respond(desktop) {
   background-image: url(../../images/booking/hero-bg-desktop.jpg);
    @include resolution(high) {background-image: url(../../images/booking/hero-bg-desktop@2x.jpg);}
    p {max-width: 30ch;}
    &__intro {
      margin-bottom: 0;
      text-align: left;
    }
  }
}

.reservation {
  display: grid;
  justify-content: center;
  z-index: 100;

   @include respond(desktop) {
   background-image: url(../../images/patterns/pattern-curve-bottom-right.svg);
   background-repeat: no-repeat;
   background-position: left top;
   background-size: contain;
   justify-content: end;
   }

  &__form {
    background-color: inherit;
    padding: 4.8rem;
    box-shadow: var(--box-shadow-100);
    display: grid;
    align-items: start;
    --br-line-display: none;
    margin-top: calc(-3.5 * var(--padding-pages-vertical));

    @include respond(tab-land) { max-width: 54rem; }

    @include respond(desktop) {
     align-items: start;
    --br-line-top: calc(3.2 * var(--padding-pages-vertical));
    --br-line-left: -8rem;
    --br-line-z-index: -1;
    --br-line-display: block;
    }

    > div.counter {
      border-bottom: 1px solid var(--clr-primary-200-op50);
    }

    input {
      width: 100%;
      border-bottom: 1px solid var(--clr-error, var(--clr-primary-200-op50));
    }

    input,
    .input-group .error__message {
    padding: 0 1rem 1rem 1rem;
    }

    ::placeholder {
      color: var(--clr-error, var(--clr-primary-200-op50));
    }

    .error {
      --clr-error: var(--clr-accent-100);
    }

    .error__message {
      font-size: var(--text-xxs);
      margin-top: var(--space-sm);
       color: var(--clr-error);
    }

    legend .error__message {
      margin-top: 0
    }

    .inline-input {
      display: grid;
      grid-auto-flow: column;
      justify-content: space-between;
      gap: 1rem;
      align-items: center;
      label {
        margin-right: 4rem;
        grid-row: 1;
        grid-column: 1 / span 4;
        color: var(--error, inherit);
      }
      input {
        max-width: 8rem;
        text-align: center;
        grid-row: 2;
      }

      input#people {
         border-bottom: none;
        vertical-align: top;
        padding-right: 0;
        max-width: 3.7rem;
      }
      @include respond(tab-land) {
        label {grid-column: 1 / span 1;}
        input {grid-row: 1;}
      }
    }

    .ampm {
      position: relative;

      input {
        cursor: pointer;
        text-align: left;
      }

      &__arrow {
        position: absolute;
        top: 19%;
        right: 1rem;
        transition: all .2s ease;
      }

      &:hover  .ampm__arrow {
        transform: rotate(180deg);
      }

      &:hover  .ampm__list {
        opacity: 1;
        z-index: 100;
      }

      &__list {
        opacity: 0;
        z-index: -1;
        position: absolute;
        top: 60%;
        display: grid;
        justify-items: end;
        justify-content: center;
        background: var(--clr-neutral-100);
        transition: all 0.2s ease-in-out;

        li {
          width: 5.8rem;
          padding: 0.5rem 2rem;
          box-sizing: content-box;
          &:hover {background-color: adjustHSLA(var(--clr-secondary-100), $opacity: .2);}
        }

        li::before {
          content: '';
          display: inline-block;
          background-image: url(../../images/icons/icon-check.svg);
          background-repeat: no-repeat;
          height: 1.2rem;
          width: 1.2rem;
          margin-right: 1rem;
          opacity: 0;
        }
        li.selected::before {
          opacity: 1;
        }
      }
    }
  }
}