.booking .header {
  background-image: url(../../images/booking/hero-bg-mobile.jpg);
  @include resolution(high) {background-image: url(../../images/booking/);}

  @include respond(tab-land) {
    background-image: url(../../images/booking/hero-bg-tablet.jpg);
     @include resolution(high) {background-image: url(../../images/booking/hero-bg-tablet@2x.jpg);}
  }

  @include respond(desktop) {
   background-image: url(../../images/booking/hero-bg-desktop.jpg);
    @include resolution(high) {background-image: url(../../images/booking/hero-bg-desktop@2x.jpg);}
  }
}

.reservation {
  display: grid;
  justify-content: end;
  @include respond(tab-land) {
  background-image: url(../../images/patterns/pattern-curve-bottom-right.svg);
   background-repeat: no-repeat;
   background-position: left top;
  }

  &__form {
    margin-top: calc(-3.4 * var(--padding-pages-vertical));
    background-color: inherit;
    width: 54rem;
    padding: 4.8rem;
    box-shadow: var(--box-shadow-100);

    display: grid;
    align-items: start;

    ::placeholder {
      color: var(--clr-primary-200-op50);
    }

    input {
      border-bottom: 1px solid grey;
      padding: 0 0 1rem 1rem;
    }
    .reserve_details {
      border-bottom: 1px solid grey;
    }
    .input-group {
      display: grid;
      grid-auto-flow: column;
    }
    .inline-input {
      display: grid;
      grid-auto-flow: column;
      justify-content: space-between;
      align-items: center;
      input {max-width: 8rem; }
      .people-input {
        font-weight: var(--fw-600);
      }
      #people {
        border-bottom: none;
        text-align: center;
        vertical-align: top;
        max-width: 2.5rem;
      }
    }
  }
}