.booking .header {
  background-image: url(../../images/booking/hero-bg-mobile.jpg);
  @include resolution(high) {background-image: url(../../images/booking/);}

  p {
    padding-bottom: 20rem;
    max-width: 36ch;
  }

  @include respond(tab-land) {
    background-image: url(../../images/booking/hero-bg-tablet.jpg);
     @include resolution(high) {background-image: url(../../images/booking/hero-bg-tablet@2x.jpg);}
    .logo {
      justify-self: start;
    }
  }

  @include respond(desktop) {
   background-image: url(../../images/booking/hero-bg-desktop.jpg);
    @include resolution(high) {background-image: url(../../images/booking/hero-bg-desktop@2x.jpg);}
    p {
      padding-bottom: 0;
      max-width: 30ch;
    }
  }
}

.reservation {
  display: grid;
  justify-content: center;
  z-index: 100;

   @include respond(desktop) {
   background-image: url(../../images/patterns/pattern-curve-bottom-right.svg);
   background-repeat: no-repeat;
   background-position: left top;
   background-size: contain;
   justify-content: end;
   }


  &__form {
    background-color: inherit;

    padding: 4.8rem;
    box-shadow: var(--box-shadow-100);
    display: grid;
    align-items: start;
    --br-line-display: none;

    @include respond(tab-land) {
    margin-top: calc(-3.2 * var(--padding-pages-vertical));
    max-width: 54rem;
    }

    @include respond(desktop) {
     align-items: start;
    --br-line-top: 53rem;
    --br-line-left: -8rem;
    --br-line-z-index: -1;
    --br-line-display: block;
    }
    > div:last-of-type {
      border-bottom: 1px solid var(--clr-primary-200-op50);
    }
    ::placeholder {color: var(--clr-primary-200-op50); }

    input {
      border-bottom: 1px solid var(--clr-primary-200-op50);
      padding: 0 1rem 1rem 1rem;
    }

    .inline-input {
      display: grid;
      grid-auto-flow: column;
      justify-content: space-between;
      align-items: center;
      label { margin-right: 4rem;}
      input {
        max-width: 8rem;
        text-align: center;
      }

      input#people {
         border-bottom: none;
        vertical-align: top;
        padding-right: 0;
        max-width: 3rem;
      }
    }
  }
}