.header {
  background-image: url(../../images/homepage/hero-bg-tablet.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  .logo { margin-bottom: 0; }
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 45%;

  @include respond(tab-land) {
    background-image: url(../../images/homepage/hero-bg-tablet.jpg);
     @include resolution(high) {background-image: url(../../images/homepage/hero-bg-tablet@2x.jpg);}
    grid-template-columns: minmax(auto, 47rem);
  }

  @include respond(desktop) {
    .logo { margin: calc(-1 * var(--space-xl)) 0 var(--space-xxl) 0 }
    background-image: url(../../images/homepage/hero-bg-desktop.jpg);
    justify-content: start;
    justify-items: start;
    text-align: left;
    padding-top: var(--space-xxxl);
    @include resolution(high) {background-image: url(../../images/homepage/hero-bg-desktop@2x.jpg);}
  }
}

.features {
  text-align: center;
  background-image: url(../../images/patterns/pattern-curve-top-right.svg), url(../../images/patterns/pattern-curve-top-left.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: left top var(--space-xxxxl), right bottom;
  background-size: 50%;
  display: grid;
  grid-template-columns: 1fr;
    justify-items: center;
  gap: var(--space-xxl);
  & > :first-child {margin-top: -20rem }

  @include respond(desktop) {
    background-size: initial;
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
    & > :last-child {
     grid-column: 1;
     grid-row: 2;
     align-self: center;
    }
    &__image {
      margin-bottom: -20rem;
      z-index: 100;
      --br-line-left: 90%;
      --br-line-top: 40%;
    }
  }
}

.highlights {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5rem;



  &__intro {
    max-width: 47rem;
    margin: 0 auto;
    text-align: center;
  }

  @include respond(desktop) {
    grid-template-columns: 470px 1fr;
    gap: 10rem;
    &__intro {
      text-align: left;
    }
  }

  &__menu-item {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 5rem;
    padding: 3rem 0;

    .menu__image {
      position: relative;
      &::after {
        content: '';
        height: 1px;
        width: 3rem;
        background-color: var(--clr-primary-100);
        position: absolute;
        top: 2rem;
        right: -3rem;
      }
    }
    &:nth-child(2) {
      border-bottom: 1px solid adjustHSLA(var(--clr-neutral-100), $opacity: 0.14);
      border-top: 1px solid adjustHSLA(var(--clr-neutral-100), $opacity: 0.14);
    }
    p {
      font-size: var(--text-sm);
    }
  }
}

.slides {
  background-image: url(../../images/patterns/pattern-curve-top-right.svg);
  background-repeat: no-repeat;
  background-position: left -55% top;
}

.slides__container {
  --grid-width: 60rem;
  width: var(--grid-width);
  margin: 0 auto;
  display: grid;
  grid-auto-flow: column;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  column-gap: 20rem;

  @include respond(tab-land) {
    --grid-width: 76.8rem;
  }
  @include respond(desktop) {
    --grid-width: 125rem;
  }

  .slide {
    scroll-snap-align: center center;
    scroll-margin-top: 20rem; //critical for making sure the slide is in the middle of the screen
    display: grid;
     grid-template-columns: 1fr;
     align-items: start;
     align-content: start;
    text-align: center;
    row-gap: 4rem;
    width: var(--grid-width);
    padding: var(--space-xl) ;

    @include respond(tab-land) {
      justify-items: center;
    //  padding: var(--space-lg);
    }
    @include respond(desktop) {
      grid-template-columns: auto 1fr;
     align-items: center;
     text-align: left;
      gap: 12rem;
     padding: var(--space-xl) 0;
    }

  &__img {
    --br-line-top: -5rem;
    --br-line-left: -5rem;
  }
  &__list {
    margin-top: var(--space-xxl);
    color: var( --clr-primary-200-op50);
    li.active {
      color: var(--clr-primary-200);
      position: relative;
     }
    li.active::before {
      content: '';
      width: 8rem;
      height: 1px;
      background: var(--clr-primary-100);
      top: 1.2rem;
      left: -10rem;
      position: absolute;
     }
     li a:hover {
       color: var(--clr-primary-200);
     }
    }
  }
}

.cta {
  display: grid;
  grid-template-columns: 1fr auto;
  background-image: url(../../images/homepage/ready-bg-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: var(--space-xxl);
  padding-bottom: var(--space-xxl);
}

.footer {
  font-size: var(--text-sm);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-transform: uppercase;
  letter-spacing: 1.8px;
  padding-top: var(--space-xxl);
  padding-bottom: var(--space-xxl);
}