.header {
  background-image: url(../../images/homepage/hero-bg-mobile.jpg);
   @include resolution(high) {background-image: url(../../images/homepage/hero-bg-mobile@2x.jpg);}
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  justify-content: center;
  text-align: center;
  h1 {max-width: 10ch;}
  p {max-width: 30ch; }
  > :first-child {margin-top: 50%;}

  @include respond(tab-land) {
    background-image: url(../../images/homepage/hero-bg-tablet.jpg);
     @include resolution(high) {background-image: url(../../images/homepage/hero-bg-tablet@2x.jpg);}
  }

  @include respond(desktop) {
    > :first-child {
       margin-top: 0;
       position: relative;
       top: calc(-1 * var(--space-xxl));
    }
    justify-content: start;
    justify-items: start;
    text-align: left;
    background-image: url(../../images/homepage/hero-bg-desktop.jpg);
    @include resolution(high) {background-image: url(../../images/homepage/hero-bg-desktop@2x.jpg);}
  }
}



.features {
  text-align: center;
  display: grid;
  justify-items: center;
  gap: var(--space-xl);
  --br-line-display: none;
  > :first-child {margin-top: calc(-1.5  * var(--padding-pages-vertical));}
  &__image {z-index: 100;}

  @include respond(tab-land) {
   background-size: 50%;
   background-image: url(../../images/patterns/pattern-curve-top-right.svg), url(../../images/patterns/pattern-curve-top-left.svg);
   background-repeat: no-repeat, no-repeat;
   background-position: left top var(--space-xxxxl), right bottom;
    --br-line-left: 80%;
    --br-line-top: 40%;
    --br-line-display: block;
  }

  @include respond(desktop) {
    background-size: initial;
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
    justify-items: start;
    --br-line-left: 90%;
    & > :last-child {
     grid-column: 1;
     grid-row: 2;
     align-self: center;
    }
    > :nth-child(3) { margin-bottom: calc(-1.5  * var(--padding-pages-vertical)); }
  }
}


.highlights {
  display: grid;
  justify-items: center;
  gap: var(--space-lg);

  &__intro {
    max-width: 46rem;
    text-align: center;
  }

  @include respond(desktop) {
    grid-auto-flow: column;
    justify-content: space-between;
    &__intro {text-align: left;}
  }

  &__menu-item {
    display: grid;
    gap: var(--space-xl);
    padding: var(--space-lg) 0;
    justify-items: center;
    text-align: center;

    @include respond(tab-land) {
      grid-auto-flow: column;
      text-align: left;
      z-index: 1;
    }

    &:not(:first-child) { border-top: 1px solid adjustHSLA(var(--clr-neutral-100), $opacity: 0.14);}
    p {font-size: var(--text-sm);}
    .menu__desc {max-width: 20ch;}

    .menu__image {
      position: relative;
      z-index: 1;
      > img {
        position: relative;
      }
      &::before {
        content: '';
        height: 1px;
        width: var(--space-lg);
        background-color: var(--clr-primary-100);
        position: absolute;
        top: 1.5rem;
        right: -3rem;
        display: none;
        @include respond(tab-land) {
          display: block;
          z-index: -1;
        }
      }
    }
  }
}

.slides {
  display: grid;
  grid-auto-flow: column;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  padding: 0;
  @include respond(tab-land) {
    background-image: url(../../images/patterns/pattern-curve-top-right.svg);
    background-repeat: no-repeat;
    background-position: left -40rem top;
    }

  .slide {
    padding: var(--padding-pages-vertical) var(--padding-pages-horizontal);
    width: MIN(100vw, 144rem);
    display: grid;
    text-align: center;
    justify-items: center;
    --br-line-display: none;
    &__img {z-index: 100;}

    @include respond(tab-land) {
      --br-line-display: block;
      --br-line-top: -4.5rem;
      --br-line-left: -5rem;
    }

    @include respond(desktop) {
      grid-auto-flow: column;
     align-items: center;
     text-align: left;
     column-gap: var(--space-xxl);
    }
  }
}

.slide__info {
    justify-self: stretch;
    display: grid;
    gap: var(--space-md);
    justify-items: center;
    @include respond(desktop) { justify-items: start; }
    p { max-width: 30ch; }

    &__list {
       grid-row: 1;
      margin-top: var(--space-xl);
      color: var( --clr-primary-200-op50);
      font-size: 1.4rem;
      letter-spacing: 1.5px;
      font-weight: var(--fw-600);
      display: grid;
      width:100%;
      row-gap: 1.5rem;


      @include respond(tab-land) {
        grid-auto-flow: column;
      justify-content: space-between;
      }

      @include respond(desktop) {
        grid-auto-flow: row;
        grid-row: initial;
      }

      li {
        transition: all 0.4s ease-in-out;
        &:hover {color: var(--clr-primary-200); }
        &.active {
        color: var(--clr-primary-200);
        position: relative;
        }
        &.active::before {
          content: '';
          height: 1px;
          background: var(--clr-primary-100);
          position: absolute;
          width: 5rem;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          @include respond(desktop) {
            width: 10rem;
            top: 50%;
            left: -50%;
          }
        }
      }
    }
  }

.cta {
  background-image: url(../../images/homepage/ready-bg-mobile.jpg);
  @include resolution(high) {background-image: url(../../images/homepage/ready-bg-mobile@2x.jpg);}
  background-repeat: no-repeat;
  background-size: cover;
 display: grid;
  gap: 2rem;
  justify-items: center;
 text-align: center;

  @include respond(tab-land) {
    padding-top: var(--space-xxl);
    padding-bottom: var(--space-xxl);
    background-image: url(../../images/homepage/ready-bg-tablet.jpg);
    @include resolution(high) {background-image: url(../../images/homepage/ready-bg-tablet@2x.jpg);}
  }

  @include respond(desktop) {
    background-image: url(../../images/homepage/ready-bg-desktop.jpg);
     @include resolution(high) {background-image: url(../../images/homepage/ready-bg-desktop@2x.jpg);}
     grid-auto-flow: column;
    text-align: left;
    .btn { align-self: start;}
  }

}

