.header {
  background-image: url(../../images/homepage/hero-bg-mobile.jpg);
   @include resolution(high) {background-image: url(../../images/homepage/hero-bg-mobile@2x.jpg);}
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  display: grid;
  grid-template-columns: minmax(auto, var(--min, 35rem));
  justify-items: center;
  justify-content: center;
  text-align: center;

  > :first-child {margin-top: 35vw; }

  @include respond(tab-land) {
    background-image: url(../../images/homepage/hero-bg-tablet.jpg);
     @include resolution(high) {background-image: url(../../images/homepage/hero-bg-tablet@2x.jpg);}
     --min: 50rem;
  }

  @include respond(desktop) {
    > :first-child {
       margin-top: 0;
      transform: translateY(-200%);
    }
    justify-content: start;
    justify-items: start;
    text-align: left;
    background-image: url(../../images/homepage/hero-bg-desktop.jpg);
    @include resolution(high) {background-image: url(../../images/homepage/hero-bg-desktop@2x.jpg);}
  }
}

.features {
  text-align: center;
  background-image: url(../../images/patterns/pattern-curve-top-right.svg), url(../../images/patterns/pattern-curve-top-left.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: left 200rem top -200rem, right -200rem  bottom 200rem ;
  background-size: 50%;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: var(--space-xl);
  --br-line-left: 200rem;
  --br-line-top: -300rem;

  > :first-child {margin-top: -15vw;}
  &__image {z-index: 100;}

  @include respond(tab-land) {
   background-position: left top var(--space-xxxxl), right bottom;
    --br-line-left: 90%;
    --br-line-top: 40%;
  }

  @include respond(desktop) {
    background-size: initial;
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
    & > :last-child {
     grid-column: 1;
     grid-row: 2;
     align-self: center;
    }
    > :nth-child(3) { margin-bottom: -20rem; }
  }
}


.highlights {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5rem;

  &__intro {
    max-width: 47rem;
    margin: 0 auto;
    text-align: center;
  }

  @include respond(desktop) {
    grid-template-columns: 470px 1fr;
    gap: 10rem;
    &__intro {
      text-align: left;
    }
  }

  &__menu-item {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 5rem;
    padding: 3rem 0;

    .menu__image {
      position: relative;
      &::after {
        content: '';
        height: 1px;
        width: 3rem;
        background-color: var(--clr-primary-100);
        position: absolute;
        top: 2rem;
        right: -3rem;
      }
    }
    &:nth-child(2) {
      border-bottom: 1px solid adjustHSLA(var(--clr-neutral-100), $opacity: 0.14);
      border-top: 1px solid adjustHSLA(var(--clr-neutral-100), $opacity: 0.14);
    }
    p {
      font-size: var(--text-sm);
    }
  }
}

.slides {
  background-image: url(../../images/patterns/pattern-curve-top-right.svg);
  background-repeat: no-repeat;
  background-position: left -40rem top;
  display: grid;
  grid-auto-flow: column;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  padding: 0;

  .slide {
    padding: var(--padding-pages-vertical) var(--padding-pages-horizontal);
    scroll-snap-align: center center;
    width: MIN(100vw, 144rem);
    display: grid;
     grid-template-columns: 1fr;
     align-items: start;
     align-content: start;
    text-align: center;
    justify-items: center;
    --br-line-top: -50rem;
    --br-line-left: -50rem;

    &__img {
      z-index: 100;
    }

    @include respond(tab-land) {
      --br-line-top: -5rem;
      --br-line-left: -5rem;
    }

    @include respond(desktop) {
      grid-template-columns: auto 1fr;
     align-items: center;
     text-align: left;
     column-gap: 8rem;
    }
  }
}

.slide__info {
    justify-self: stretch;
    display: grid;
    gap: 3rem;
    justify-items: center;
    @include respond(desktop) {
      justify-items: start;
    }
    p {
      max-width: 30ch;
    }
    &__list {
      margin-top: var(--space-xl);
      color: var( --clr-primary-200-op50);
      display: grid;
      width:100%;
      row-gap: 1rem;
      grid-row: 1;
      font-size: var(--text-sm);

      @include respond(tab-land) {
        grid-auto-flow: column;
      justify-content: space-between;
      }
      @include respond(desktop) {
        grid-auto-flow: row;
        grid-row: initial;
      }
      li.active {
        color: var(--clr-primary-200);
        position: relative;
      }
      li.active::before {
        content: '';
        height: 1px;
        background: var(--clr-primary-100);
        position: absolute;
        width: 5rem;
        top: 120%;
        left: 50%;
        transform: translateX(-50%);
        @include respond(desktop) {
          width: 10rem;
          top: 50%;
          left: -50%;
          transform: translate(-50%, -50%);
        }
      }
      li a:hover {
        color: var(--clr-primary-200);
      }
    }
  }

.cta {

  background-image: url(../../images/homepage/ready-bg-mobile.jpg);
  @include resolution(high) {background-image: url(../../images/homepage/ready-bg-mobile@2x.jpg);}
  background-repeat: no-repeat;
  background-size: cover;
 display: grid;
  gap: 2rem;
  align-items: start;
  justify-items: center;
 text-align: center;

  @include respond(tab-land) {
    background-image: url(../../images/homepage/ready-bg-tablet.jpg);
     @include resolution(high) {background-image: url(../../images/homepage/ready-bg-tablet@2x.jpg);}

  }

  @include respond(desktop) {
    background-image: url(../../images/homepage/ready-bg-desktop.jpg);
     @include resolution(high) {background-image: url(../../images/homepage/ready-bg-desktop@2x.jpg);}
      grid-template-columns: 1fr auto;
      text-align: left;
      justify-items: start;
  }

}

.footer {
  font-size: var(--text-sm);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
  text-transform: uppercase;
  text-align: center;
  justify-items: center;
  letter-spacing: 1.8px;
  @include respond(tab-land) {
    justify-items: start;
    text-align: left;
    .logo { grid-row: span 2; }
  }
}