:root {

  --primary-hue-100: 27; // beaver
  --primary-hue-200: 0; // Cod Gray

  --secondary-hue-100: 234; //Mirage
  --secondary-hue-200: 218; //Ebony Clay
  --secondary-hue-300: 217; // Shuttle Gray

  @include defineColorHSL(--clr-primary-100, var(--primary-hue-100), 22%, 51%); // primary button
  @include defineColorHSL(--clr-primary-200, var(--primary-hue-200), 0%, 7%); // hover color
  @include defineColorHSL(--clr-secondary-100, var(--secondary-hue-100), 30%, 13%); // hover color
  @include defineColorHSL(--clr-secondary-200, var(--secondary-hue-200), 21%, 18%); // hover color
  @include defineColorHSL(--clr-secondary-300, var(--secondary-hue-300), 14%, 42%); // hover color

  --box-shadow-100: 2.5rem 2.5rem 8rem #{alpha(var(--clr-blue-300), 0.3)};

  --br: 3rem;
  --spacer: 1.6rem;

  --ff-primary: 'Public Sans', sans-serif;
  --ff-secondary: 'DM Serif Display', serif;

  --fs-100: 1.1rem; //form-error-messages
  --fs-200: 1.5rem; //text
  --fs-250: 2rem; //menu text
  --fs-300: 2.4rem; //h4
  --fs-400: 2.4rem; //h3
  --fs-500: 3.2rem; //h2 small
  --fs-600: 3.6rem; //h2 large
  --fs-700: 3.2rem; //h1 small
  --fs-800: 3.2rem; //h1 large

  //tablet
  @include respond (tab-land) {
    --fs-500: 4.8rem; //h2 small
    --fs-600: 4.8rem; //h2 large
    --fs-700: 4.8rem; //h1 small
    --fs-800: 4.8rem; //h1 large
    --fs-250: 1.8rem;
  }

  //desktop
  @include respond(desktop) {
    --fs-400: 3.2rem; //h3
    --fs-700: 5.6rem; //h1 small
    --fs-800: 7.2rem; //h1 large
  }

  --fw-100: 100;
  --fw-200: 200;
  --fw-700: 700;

  --lh-000: 1.0;
  --lh-100: 1.125;
  --lh-200: 1.2;
  --lh-300: 1.3;
  --lh-400: 1.4;
  --lh-500: 1.5;
  --lh-600: 1.6;
  --lh-700: 1.7;
  --lh-800: 1.8;
}

