  *.brown-lines {
    position: relative;
    &::after {
      position: absolute;
      content: '';
      width: 20rem;
      height: 20rem;
      background: url(../../images/patterns/pattern-lines.svg) no-repeat;
      top: var(--br-line-top, 0);
      left: var(--br-line-left, 0);
    }
  }