.btn {
  display: inline-block;
  padding: var(--space-sm) var(--space-xl);
  border: 1px solid var(--btn-bd, var(--clr-primary-200));
  background: var(--bg-btn, var(--clr-primary-200));
  color: var(--fg-btn, var(--clr-neutral-100));
  transition: all .4s ease-in-out;
}

.btn--clear {
  --bg-btn: transparent;
}

.btn:hover {
  background: var(--btn-bg-hover, var(--clr-neutral-100));
  color: var(--btn-fg-hover, var(--clr-primary-200));
}

