.footer {
  font-size: var(--text-sm);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
  text-transform: uppercase;
  text-align: center;
  justify-items: center;
  letter-spacing: 1.8px;
  @include respond(tab-land) {
   padding-top: var(--space-xxl);
   padding-bottom: var(--space-xxl);
    justify-items: start;
    text-align: left;
    .logo { grid-row: span 2; }
  }
}