.footer {
  font-size: var(--text-sm);
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  display: grid;
  align-items: start;
  align-content: start;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  row-gap: 4rem;
  justify-items: center;

  @include respond(tab-land) {
   padding-top: var(--space-xxl);
   padding-bottom: var(--space-xxl);
   text-align: left;
    justify-items: start;
    column-gap: 2rem;
    .logo { grid-row: span 2; }
  }

  @include respond(desktop) {
    row-gap: 0;
  }
}