
html {
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
}

:root {

  //fonts
   --ff-primary: 'Spartan', sans-serif;

  --text-base-size: 0.9375rem; //1em = 15px
  --text-scale-ratio: 1.125;
  --text-unit: var(--text-base-size);

  @include respond (tab-land) {
    --text-base-size: 1.8rem; // 18px
    --text-scale-ratio: 1.25;
  }

  --fw-300: 300;
  --fw-400: 400;
  --fw-600: 600;
  --fw-700: 700;

}


:root, * {
    // type scale
  --text-xs: calc((var(--text-unit) / var(--text-scale-ratio)) / var(--text-scale-ratio)); // 0.79em 11.85     | 0.64em 11.52px
  --text-sm: calc(var(--text-xs) * var(--text-scale-ratio)); // 0.889 13.33px| 0.8em 14.40px
  --text-md: calc(var(--text-sm) * var(--text-scale-ratio) * var(--text-scale-ratio)); // 1.125 16.88px|  1.25em 22.5px
  --text-lg: calc(var(--text-md) * var(--text-scale-ratio)); // 1.266em 18.98px | 1.563em 28.13px
  --text-xl: calc(var(--text-lg) * var(--text-scale-ratio)); // 1.424rem 21.36px   | 1.953em 35.16px
  --text-xxl: calc(var(--text-xl) * var(--text-scale-ratio)); // 1.602rem 24.03px |2.441em 43.95px
  --text-xxxl: calc(var(--text-xxl) * var(--text-scale-ratio)); // 1.802rem 27.03px  | 3.052em 54.93px
  --text-xxxxl: calc(var(--text-xxl) * var(--text-scale-ratio)); //  2.027rem/ 0.41px | 3.815em 68.66px
}

h1, .h1 {
  font-size: var(--text-xxxxl);
  font-weight: var(--fw-300);
  letter-spacing: -0.8;
  line-height: 1.125;
}

h2, .h2 {
  font-size: var(--text-xxl);
  font-weight: var(--fw-700);
  letter-spacing: -0.5;
  line-height: 1.56;
}

h3, .h3 {
  font-size: calc(var(--text-base-size) + 1);
  font-weight: var(--fw-700);
  letter-spacing: 2;
  line-height: 1.56;
  @include respond(tab-land) {
  font-size: var(--text-base-size);
  font-weight: var(--fw-700);
  letter-spacing: -.22;
  line-height: 2;
  }
}