.flow-content > * + * {
  margin-top: var(--space-unit-rem);
}

.flow-content-xsmall > * + * {
  margin-top: calc(0.5 * var(--space-unit-rem));
}

.flow-content-small > * + * {
  margin-top: calc(0.75 * var(--space-unit-rem));
}

.flow-content-md > * + * {
    margin-top: calc(1.25 * var(--space-unit-rem));
}

.flow-content-large > * + * {
  margin-top: calc(2 * var(--space-unit-rem));
}

.flow-content-xlarge > * + * {
  margin-top: calc(3.25 * var(--space-unit-rem));;
}

.split-auto {
  display: grid;
  row-gap: var(--row-gap, 2rem);
  column-gap: var(--column-gap, 2rem);
  grid-template-columns: repeat(auto-fit, minmax(var(--min), 1fr));
}

.split-adapt {
  display: grid;
  gap: var(--gap, 1rem);
  grid-auto-flow: column;
}

.split {
 display: grid;
  gap: var(--gap, 1rem);
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
}

@include respond(tab-land) {
  .split {
    grid-auto-flow: column;
    grid-auto-columns: auto;
  }
}

.space-bt {
  justify-content: space-between;
}

.justify-ic {
  justify-items: center;
}

.justify-cc {
  justify-content: center;
}

.align-ic {
  align-items: center;
}

.text-center {
  text-align: center;
}

.drop-shadow {
  filter: drop-shadow(var(--box-shadow-100));
}

.white-filter {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7483%) hue-rotate(25deg) brightness(99%) contrast(108%);
}

.pink-filter {
  filter: brightness(0.5) sepia(1) hue-rotate(-70deg) saturate(5);
}

.navy-filter {
  filter: brightness(0.2) sepia(1) hue-rotate(180deg) saturate(5);
}

.blue-filter {
  filter: brightness(0.5) sepia(1) hue-rotate(140deg) saturate(6);
}

.bg-dark {
  --bg: var(--clr-primary-200);
  --fg: var(--clr-neutral-100);
  --btn-bd: var(--clr-neutral-100);
  --btn-bg-hover: var(--clr-neutral-100);
  --btn-fg-hover: var(--clr-primary-200);
}



  .inline-block {
    display: inline-block;
  }

  .box-shadow {
    box-shadow: var(--box-shadow-100);
  }