/*
0 - 600px:      Phone is where normal styles apply
600 - 1200px:   Tablet
1200 > :    Desktop

$breakpoint argument choices:
- tab-land
- big-desktop

1em = 16px

*/
:root {
  --clr-primary-100: hsl(27, 22%, 51%);
  --primary-hue-100: 27;
  --clr-primary-200: hsl(0, 0, 7%);
  --primary-hue-200: 0;
  --clr-secondary-100: hsla(217, 14%, 42%);
  --secondary-hue-300: 217;
  --clr-secondary-200: hsl(218, 21%, 18%);
  --secondary-hue-200: 218;
  --clr-marker-secondary-300: hsl(234, 30%, 13%);
  --secondary-hue-100: 234;
  --clr-accent-100: hsl(0, 43%, 50%);
  --clr-accent-100: hsla(0, 43%, 50%, 0.5);
  --clr-neutral-100: hsl(0, 100%, 100%);
  --clr-primary-200-op50: hsla(calc(var(--clr-primary-200-h) * 1), calc(var(--clr-primary-200-s) * 1), calc(var(--clr-primary-200-l) * 1), 0.5);
  --clr-secondary-100-op7: hsla(calc(var(--clr-secondary-100-h) * 1), calc(var(--clr-secondary-100-s) * 1), calc(var(--clr-secondary-100-l) * 1), 0.07);
  --clr-neutral-100: hsl(0, 100%, 100%);
  --clr-neutral-100-h: 0;
  --clr-neutral-100-s: 100%;
  --clr-neutral-100-l: 100%;
  --clr-neutral-100-l10: hsl(0, 100%, 110%);
  --clr-neutral-100-s10: hsl(0, 110%, 100%);
  --clr-neutral-100-l20: hsl(0, 100%, 120%);
  --clr-neutral-100-s20: hsl(0, 120%, 100%);
  --clr-neutral-100-l30: hsl(0, 100%, 130%);
  --clr-neutral-100-s30: hsl(0, 130%, 100%);
  --clr-neutral-100-l40: hsl(0, 100%, 140%);
  --clr-neutral-100-s40: hsl(0, 140%, 100%);
  --clr-neutral-100-l50: hsl(0, 100%, 150%);
  --clr-neutral-100-s50: hsl(0, 150%, 100%);
  --clr-primary-100: hsl(var(--primary-hue-100), 22%, 51%);
  --clr-primary-100-h: var(--primary-hue-100);
  --clr-primary-100-s: 22%;
  --clr-primary-100-l: 51%;
  --clr-primary-100-l10: hsl(var(--primary-hue-100), 22%, 56.1%);
  --clr-primary-100-s10: hsl(var(--primary-hue-100), 24.2%, 51%);
  --clr-primary-100-l20: hsl(var(--primary-hue-100), 22%, 61.2%);
  --clr-primary-100-s20: hsl(var(--primary-hue-100), 26.4%, 51%);
  --clr-primary-100-l30: hsl(var(--primary-hue-100), 22%, 66.3%);
  --clr-primary-100-s30: hsl(var(--primary-hue-100), 28.6%, 51%);
  --clr-primary-100-l40: hsl(var(--primary-hue-100), 22%, 71.4%);
  --clr-primary-100-s40: hsl(var(--primary-hue-100), 30.8%, 51%);
  --clr-primary-100-l50: hsl(var(--primary-hue-100), 22%, 76.5%);
  --clr-primary-100-s50: hsl(var(--primary-hue-100), 33%, 51%);
  --clr-primary-200: hsl(var(--primary-hue-200), 0%, 7%);
  --clr-primary-200-h: var(--primary-hue-200);
  --clr-primary-200-s: 0%;
  --clr-primary-200-l: 7%;
  --clr-primary-200-l10: hsl(var(--primary-hue-200), 0%, 7.7%);
  --clr-primary-200-s10: hsl(var(--primary-hue-200), 0%, 7%);
  --clr-primary-200-l20: hsl(var(--primary-hue-200), 0%, 8.4%);
  --clr-primary-200-s20: hsl(var(--primary-hue-200), 0%, 7%);
  --clr-primary-200-l30: hsl(var(--primary-hue-200), 0%, 9.1%);
  --clr-primary-200-s30: hsl(var(--primary-hue-200), 0%, 7%);
  --clr-primary-200-l40: hsl(var(--primary-hue-200), 0%, 9.8%);
  --clr-primary-200-s40: hsl(var(--primary-hue-200), 0%, 7%);
  --clr-primary-200-l50: hsl(var(--primary-hue-200), 0%, 10.5%);
  --clr-primary-200-s50: hsl(var(--primary-hue-200), 0%, 7%);
  --clr-secondary-100: hsl(var(--secondary-hue-100), 14%, 42%);
  --clr-secondary-100-h: var(--secondary-hue-100);
  --clr-secondary-100-s: 14%;
  --clr-secondary-100-l: 42%;
  --clr-secondary-100-l10: hsl(var(--secondary-hue-100), 14%, 46.2%);
  --clr-secondary-100-s10: hsl(var(--secondary-hue-100), 15.4%, 42%);
  --clr-secondary-100-l20: hsl(var(--secondary-hue-100), 14%, 50.4%);
  --clr-secondary-100-s20: hsl(var(--secondary-hue-100), 16.8%, 42%);
  --clr-secondary-100-l30: hsl(var(--secondary-hue-100), 14%, 54.6%);
  --clr-secondary-100-s30: hsl(var(--secondary-hue-100), 18.2%, 42%);
  --clr-secondary-100-l40: hsl(var(--secondary-hue-100), 14%, 58.8%);
  --clr-secondary-100-s40: hsl(var(--secondary-hue-100), 19.6%, 42%);
  --clr-secondary-100-l50: hsl(var(--secondary-hue-100), 14%, 63%);
  --clr-secondary-100-s50: hsl(var(--secondary-hue-100), 21%, 42%);
  --clr-secondary-200: hsl(var(--secondary-hue-200), 21%, 18%);
  --clr-secondary-200-h: var(--secondary-hue-200);
  --clr-secondary-200-s: 21%;
  --clr-secondary-200-l: 18%;
  --clr-secondary-200-l10: hsl(var(--secondary-hue-200), 21%, 19.8%);
  --clr-secondary-200-s10: hsl(var(--secondary-hue-200), 23.1%, 18%);
  --clr-secondary-200-l20: hsl(var(--secondary-hue-200), 21%, 21.6%);
  --clr-secondary-200-s20: hsl(var(--secondary-hue-200), 25.2%, 18%);
  --clr-secondary-200-l30: hsl(var(--secondary-hue-200), 21%, 23.4%);
  --clr-secondary-200-s30: hsl(var(--secondary-hue-200), 27.3%, 18%);
  --clr-secondary-200-l40: hsl(var(--secondary-hue-200), 21%, 25.2%);
  --clr-secondary-200-s40: hsl(var(--secondary-hue-200), 29.4%, 18%);
  --clr-secondary-200-l50: hsl(var(--secondary-hue-200), 21%, 27%);
  --clr-secondary-200-s50: hsl(var(--secondary-hue-200), 31.5%, 18%);
  --clr-secondary-300: hsl(var(--secondary-hue-300), 30%, 13%);
  --clr-secondary-300-h: var(--secondary-hue-300);
  --clr-secondary-300-s: 30%;
  --clr-secondary-300-l: 13%;
  --clr-secondary-300-l10: hsl(var(--secondary-hue-300), 30%, 14.3%);
  --clr-secondary-300-s10: hsl(var(--secondary-hue-300), 33%, 13%);
  --clr-secondary-300-l20: hsl(var(--secondary-hue-300), 30%, 15.6%);
  --clr-secondary-300-s20: hsl(var(--secondary-hue-300), 36%, 13%);
  --clr-secondary-300-l30: hsl(var(--secondary-hue-300), 30%, 16.9%);
  --clr-secondary-300-s30: hsl(var(--secondary-hue-300), 39%, 13%);
  --clr-secondary-300-l40: hsl(var(--secondary-hue-300), 30%, 18.2%);
  --clr-secondary-300-s40: hsl(var(--secondary-hue-300), 42%, 13%);
  --clr-secondary-300-l50: hsl(var(--secondary-hue-300), 30%, 19.5%);
  --clr-secondary-300-s50: hsl(var(--secondary-hue-300), 45%, 13%);
  --box-shadow-100: 1rem 3rem 4rem -2rem hsla(calc(var(--clr-primary-200-h) * 1), calc(var(--clr-primary-200-s) * 1), calc(var(--clr-primary-200-l) * 1), 0.3);
  --br: 3rem;
  --space-unit-rem: 1.6rem;
  --space-unit: 1em;
  --space-xxxxs: calc(0.125 * var(--space-unit));
  --space-xxxs: calc(0.25 * var(--space-unit));
  --space-xxs: calc(0.375 * var(--space-unit));
  --space-xs: calc(0.5 * var(--space-unit));
  --space-sm: calc(0.75 * var(--space-unit));
  --space-md: calc(1.25 * var(--space-unit));
  --space-lg: calc(2 * var(--space-unit));
  --space-xl: calc(3.25 * var(--space-unit));
  --space-xxl: calc(5.25 * var(--space-unit));
  --space-xxxl: calc(8.5 * var(--space-unit));
  --space-xxxxl: calc(13.75 * var(--space-unit));
  --padding-pages-horizontal: var(--space-md);
  --padding-pages-vertical: var(--space-xl);
}
@media only screen and (min-width: 37.5em) {
  :root {
    --padding-pages-horizontal: var(--space-xxl);
    --padding-pages-vertical: var(--space-xxl);
  }
}
@media only screen and (min-width: 75em) {
  :root {
    --padding-pages-horizontal: var(--space-xxxl);
    --padding-pages-vertical: var(--space-xxxl);
  }
}

html {
  font-size: 62.5%;
}

:root {
  --fw-300: 300;
  --fw-400: 400;
  --fw-600: 600;
  --fw-700: 700;
  --ff-primary: "Spartan", sans-serif;
  --text-base-size: 1.5rem;
  --text-scale-ratio: 1.125;
  --text-unit: var(--text-base-size);
}
@media only screen and (min-width: 37.5em) {
  :root {
    --text-base-size: 1.8rem;
    --text-scale-ratio: 1.25;
  }
}

:root, * {
  --text-xs: calc((var(--text-unit) / var(--text-scale-ratio)) / var(--text-scale-ratio));
  --text-sm: calc(var(--text-xs) * var(--text-scale-ratio));
  --text-md: calc(var(--text-sm) * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-lg: calc(var(--text-md) * var(--text-scale-ratio));
  --text-xl: calc(var(--text-lg) * var(--text-scale-ratio));
  --text-xxl: calc(var(--text-xl) * var(--text-scale-ratio));
  --text-xxxl: calc(var(--text-xxl) * var(--text-scale-ratio));
  --text-xxxxl: calc(var(--text-xxxl) * var(--text-scale-ratio));
}

h1, .h1 {
  font-size: var(--text-xxxxl);
  font-weight: var(--fw-300);
  letter-spacing: 0.8px;
  line-height: 1.125;
}
@media only screen and (min-width: 37.5em) {
  h1, .h1 {
    font-size: var(--text-xxl);
  }
}
@media only screen and (min-width: 75em) {
  h1, .h1 {
    font-size: var(--text-xxxxl);
  }
}

h2, .h2 {
  font-size: var(--text-xxl);
  font-weight: var(--fw-700);
  letter-spacing: 0.5px;
  line-height: 1.4;
}

h3, .h3 {
  font-size: calc(var(--text-base-size) + 1);
  font-weight: var(--fw-700);
  letter-spacing: 2;
  line-height: 1.56;
}
@media only screen and (min-width: 37.5em) {
  h3, .h3 {
    font-size: var(--text-base-size);
    font-weight: var(--fw-700);
    letter-spacing: 0.22px;
    line-height: 2;
  }
}

.flow-content > * + * {
  margin-top: var(--space-unit-rem);
}

.flow-content-xsmall > * + * {
  margin-top: calc(0.5 * var(--space-unit-rem));
}

.flow-content-small > * + * {
  margin-top: calc(0.75 * var(--space-unit-rem));
}

.flow-content-md > * + * {
  margin-top: calc(1.25 * var(--space-unit-rem));
}

.flow-content-large > * + * {
  margin-top: calc(2 * var(--space-unit-rem));
}

.flow-content-xlarge > * + * {
  margin-top: calc(3.25 * var(--space-unit-rem));
}

.split-auto {
  display: grid;
  row-gap: var(--row-gap, 2rem);
  column-gap: var(--column-gap, 2rem);
  grid-template-columns: repeat(auto-fit, minmax(var(--min), 1fr));
}

.split-adapt {
  display: grid;
  gap: var(--gap, 1rem);
  grid-auto-flow: column;
}

.split {
  display: grid;
  gap: var(--gap, 1rem);
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
}

@media only screen and (min-width: 37.5em) {
  .split {
    grid-auto-flow: column;
    grid-auto-columns: auto;
  }
}
.space-bt {
  justify-content: space-between;
}

.justify-ic {
  justify-items: center;
}

.justify-cc {
  justify-content: center;
}

.align-ic {
  align-items: center;
}

.text-center {
  text-align: center;
}

.drop-shadow {
  filter: drop-shadow(var(--box-shadow-100));
}

.white-filter {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7483%) hue-rotate(25deg) brightness(99%) contrast(108%);
}

.pink-filter {
  filter: brightness(0.5) sepia(1) hue-rotate(-70deg) saturate(5);
}

.navy-filter {
  filter: brightness(0.2) sepia(1) hue-rotate(180deg) saturate(5);
}

.blue-filter {
  filter: brightness(0.5) sepia(1) hue-rotate(140deg) saturate(6);
}

.bg-dark {
  --bg: var(--clr-primary-200);
  --fg: var(--clr-neutral-100);
  --btn-bd: var(--clr-neutral-100);
  --btn-bg-hover: var(--clr-neutral-100);
  --btn-fg-hover: var(--clr-primary-200);
}

.inline-block {
  display: inline-block;
}

.box-shadow {
  box-shadow: var(--box-shadow-100);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4 {
  font-family: var(--ff-secondary);
}

body,
h1,
h2,
h3,
p,
dl,
dd,
figure {
  margin: 0;
}

ul[class],
ol[class] {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

input,
label,
select,
button,
textarea {
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1;
  font: inherit;
}

input:focus {
  outline: 0;
}

a {
  color: inherit;
  font-family: inherit;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
}

body {
  margin: 20rem 0;
}

.container {
  max-width: 144rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
}

.container > * {
  background-color: var(--bg, var(--clr-neutral-100));
  color: var(--fg, var(--clr-secondary-200));
  font-family: var(--ff-primary);
  font-size: var(--text-unit);
  line-height: 1.87;
  letter-spacing: -0.19;
  padding: var(--padding-pages-vertical) var(--padding-pages-horizontal);
}
@media only screen and (min-width: 37.5em) {
  .container > * {
    line-height: 1.66;
    letter-spacing: -0.22px;
    padding: var(--padding-pages-vertical) var(--padding-pages-horizontal);
  }
}
@media only screen and (min-width: 75em) {
  .container > * {
    padding: var(--padding-pages-vertical) var(--padding-pages-horizontal);
  }
}

.btn {
  display: inline-block;
  padding: var(--space-sm) var(--space-xl);
  border: 1px solid var(--btn-bd, var(--clr-primary-200));
  background: var(--bg-btn, var(--clr-primary-200));
  color: var(--fg-btn, var(--clr-neutral-100));
  transition: all 0.4s ease-in-out;
}

.btn--clear {
  --bg-btn: transparent;
}

.btn:hover {
  background: var(--btn-bg-hover, var(--clr-neutral-100));
  color: var(--btn-fg-hover, var(--clr-primary-200));
}

*.brown-lines {
  position: relative;
}
*.brown-lines::after {
  position: absolute;
  content: "";
  width: 20rem;
  height: 20rem;
  background: url(../../images/patterns/pattern-lines.svg) no-repeat;
  top: var(--br-line-top, 0);
  left: var(--br-line-left, 0);
}

.header {
  background-image: url(../../images/homepage/hero-bg-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  display: grid;
  grid-template-columns: minmax(auto, var(--min, 35rem));
  justify-items: center;
  justify-content: center;
  text-align: center;
}
@media (min-resolution: 120dpi) {
  .header {
    background-image: url(../../images/homepage/hero-bg-mobile@2x.jpg);
  }
}
.header > :first-child {
  margin-top: 36vw;
}
@media only screen and (min-width: 37.5em) {
  .header {
    background-image: url(../../images/homepage/hero-bg-tablet.jpg);
    --min: 50rem;
  }
}
@media only screen and (min-width: 37.5em) and (min-resolution: 120dpi) {
  .header {
    background-image: url(../../images/homepage/hero-bg-tablet@2x.jpg);
  }
}
@media only screen and (min-width: 75em) {
  .header {
    justify-content: start;
    justify-items: start;
    text-align: left;
    background-image: url(../../images/homepage/hero-bg-desktop.jpg);
  }
  .header > :first-child {
    margin-top: 0;
    transform: translateY(-200%);
  }
}
@media only screen and (min-width: 75em) and (min-resolution: 120dpi) {
  .header {
    background-image: url(../../images/homepage/hero-bg-desktop@2x.jpg);
  }
}

.features {
  text-align: center;
  background-image: url(../../images/patterns/pattern-curve-top-right.svg), url(../../images/patterns/pattern-curve-top-left.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: left 200rem top -200rem, right -200rem bottom 200rem;
  background-size: 50%;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: var(--space-xl);
  --br-line-left: 200rem;
  --br-line-top: -300rem;
}
.features > :first-child {
  margin-top: -15vw;
}
.features__image {
  z-index: 100;
}
@media only screen and (min-width: 37.5em) {
  .features {
    background-position: left top var(--space-xxxxl), right bottom;
    --br-line-left: 90%;
    --br-line-top: 40%;
  }
}
@media only screen and (min-width: 75em) {
  .features {
    background-size: initial;
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
  }
  .features > :last-child {
    grid-column: 1;
    grid-row: 2;
    align-self: center;
  }
  .features > :nth-child(3) {
    margin-bottom: -20rem;
  }
}

.highlights {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 5rem;
}
.highlights__intro {
  max-width: 47rem;
  margin: 0 auto;
  text-align: center;
}
@media only screen and (min-width: 75em) {
  .highlights {
    grid-template-columns: 47rem 1fr;
    gap: 10rem;
  }
  .highlights__intro {
    text-align: left;
  }
}
.highlights__menu-item {
  max-width: 30rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 5rem;
  padding: 3rem 0;
  justify-items: center;
  text-align: center;
}
.highlights__menu-item .menu__desc {
  max-width: 21ch;
}
@media only screen and (min-width: 37.5em) {
  .highlights__menu-item {
    justify-content: center;
    justify-items: start;
    grid-template-columns: 1fr 2fr;
    text-align: left;
  }
}
.highlights__menu-item .menu__image {
  position: relative;
}
.highlights__menu-item .menu__image::after {
  content: "";
  height: 1px;
  width: 3rem;
  background-color: var(--clr-primary-100);
  position: absolute;
  top: 20%;
  right: -3rem;
}
.highlights__menu-item:nth-child(2) {
  border-bottom: 1px solid hsla(calc(var(--clr-neutral-100-h) * 1), calc(var(--clr-neutral-100-s) * 1), calc(var(--clr-neutral-100-l) * 1), 0.14);
  border-top: 1px solid hsla(calc(var(--clr-neutral-100-h) * 1), calc(var(--clr-neutral-100-s) * 1), calc(var(--clr-neutral-100-l) * 1), 0.14);
}
.highlights__menu-item p {
  font-size: var(--text-sm);
}

.slides {
  background-image: url(../../images/patterns/pattern-curve-top-right.svg);
  background-repeat: no-repeat;
  background-position: left -40rem top;
  display: grid;
  grid-auto-flow: column;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  padding: 0;
}
.slides .slide {
  padding: var(--padding-pages-vertical) var(--padding-pages-horizontal);
  scroll-snap-align: center center;
  width: min(100vw, 144rem);
  display: grid;
  grid-template-columns: 1fr;
  align-items: start;
  align-content: start;
  text-align: center;
  justify-items: center;
  --br-line-top: -50rem;
  --br-line-left: -50rem;
}
.slides .slide__img {
  z-index: 100;
}
@media only screen and (min-width: 37.5em) {
  .slides .slide {
    --br-line-top: -5rem;
    --br-line-left: -5rem;
  }
}
@media only screen and (min-width: 75em) {
  .slides .slide {
    grid-template-columns: auto 1fr;
    align-items: center;
    text-align: left;
    column-gap: 8rem;
  }
}

.slide__info {
  justify-self: stretch;
  display: grid;
  gap: 3rem;
  justify-items: center;
}
@media only screen and (min-width: 75em) {
  .slide__info {
    justify-items: start;
  }
}
.slide__info p {
  max-width: 30ch;
}
.slide__info__list {
  margin-top: var(--space-xl);
  color: var(--clr-primary-200-op50);
  display: grid;
  width: 100%;
  row-gap: 1rem;
  grid-row: 1;
  font-size: var(--text-sm);
}
@media only screen and (min-width: 37.5em) {
  .slide__info__list {
    grid-auto-flow: column;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 75em) {
  .slide__info__list {
    grid-auto-flow: row;
    grid-row: initial;
  }
}
.slide__info__list li.active {
  color: var(--clr-primary-200);
  position: relative;
}
.slide__info__list li.active::before {
  content: "";
  height: 1px;
  background: var(--clr-primary-100);
  position: absolute;
  width: 5rem;
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
}
@media only screen and (min-width: 75em) {
  .slide__info__list li.active::before {
    width: 10rem;
    top: 50%;
    left: -50%;
    transform: translate(-50%, -50%);
  }
}
.slide__info__list li a:hover {
  color: var(--clr-primary-200);
}

.cta {
  background-image: url(../../images/homepage/ready-bg-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  gap: 2rem;
  align-items: start;
  justify-items: center;
  text-align: center;
}
@media (min-resolution: 120dpi) {
  .cta {
    background-image: url(../../images/homepage/ready-bg-mobile@2x.jpg);
  }
}
@media only screen and (min-width: 37.5em) {
  .cta {
    background-image: url(../../images/homepage/ready-bg-tablet.jpg);
  }
}
@media only screen and (min-width: 37.5em) and (min-resolution: 120dpi) {
  .cta {
    background-image: url(../../images/homepage/ready-bg-tablet@2x.jpg);
  }
}
@media only screen and (min-width: 75em) {
  .cta {
    background-image: url(../../images/homepage/ready-bg-desktop.jpg);
    grid-template-columns: 1fr auto;
    text-align: left;
    justify-items: start;
  }
}
@media only screen and (min-width: 75em) and (min-resolution: 120dpi) {
  .cta {
    background-image: url(../../images/homepage/ready-bg-desktop@2x.jpg);
  }
}

.footer {
  font-size: var(--text-sm);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
  text-transform: uppercase;
  text-align: center;
  justify-items: center;
  letter-spacing: 1.8px;
}
@media only screen and (min-width: 37.5em) {
  .footer {
    justify-items: start;
    text-align: left;
  }
  .footer .logo {
    grid-row: span 2;
  }
}