/*
0 - 600px:      Phone is where normal styles apply
600 - 1200px:   Tablet
1200 > :    Desktop

$breakpoint argument choices:
- tab-land
- big-desktop

1em = 16px

*/
:root {
  --clr-primary-100: hsl(27, 22%, 51%);
  --primary-hue-100: 27;
  --clr-primary-200: hsl(0, 0, 7%);
  --primary-hue-200: 0;
  --clr-secondary-100: hsla(217, 14%, 42%);
  --secondary-hue-300: 217;
  --clr-secondary-200: hsl(218, 21%, 18%);
  --secondary-hue-200: 218;
  --clr-marker-secondary-300: hsl(234, 30%, 13%);
  --secondary-hue-100: 234;
  --clr-accent-100: hsl(0, 43%, 50%);
  --clr-accent-100: hsla(0, 43%, 50%, 0.5);
  --clr-neutral-100: hsl(0, 100%, 100%);
  --clr-primary-200-op50: hsla(calc(var(--clr-primary-200-h) * 1), calc(var(--clr-primary-200-s) * 1), calc(var(--clr-primary-200-l) * 1), 0.5);
  --clr-secondary-100-op7: hsla(calc(var(--clr-secondary-100-h) * 1), calc(var(--clr-secondary-100-s) * 1), calc(var(--clr-secondary-100-l) * 1), 0.07);
  --clr-primary-100: hsl(var(--primary-hue-100), 22%, 51%);
  --clr-primary-100-h: var(--primary-hue-100);
  --clr-primary-100-s: 22%;
  --clr-primary-100-l: 51%;
  --clr-primary-100-l10: hsl(var(--primary-hue-100), 22%, 56.1%);
  --clr-primary-100-s10: hsl(var(--primary-hue-100), 24.2%, 51%);
  --clr-primary-100-l20: hsl(var(--primary-hue-100), 22%, 61.2%);
  --clr-primary-100-s20: hsl(var(--primary-hue-100), 26.4%, 51%);
  --clr-primary-100-l30: hsl(var(--primary-hue-100), 22%, 66.3%);
  --clr-primary-100-s30: hsl(var(--primary-hue-100), 28.6%, 51%);
  --clr-primary-100-l40: hsl(var(--primary-hue-100), 22%, 71.4%);
  --clr-primary-100-s40: hsl(var(--primary-hue-100), 30.8%, 51%);
  --clr-primary-100-l50: hsl(var(--primary-hue-100), 22%, 76.5%);
  --clr-primary-100-s50: hsl(var(--primary-hue-100), 33%, 51%);
  --clr-primary-200: hsl(var(--primary-hue-200), 0%, 7%);
  --clr-primary-200-h: var(--primary-hue-200);
  --clr-primary-200-s: 0%;
  --clr-primary-200-l: 7%;
  --clr-primary-200-l10: hsl(var(--primary-hue-200), 0%, 7.7%);
  --clr-primary-200-s10: hsl(var(--primary-hue-200), 0%, 7%);
  --clr-primary-200-l20: hsl(var(--primary-hue-200), 0%, 8.4%);
  --clr-primary-200-s20: hsl(var(--primary-hue-200), 0%, 7%);
  --clr-primary-200-l30: hsl(var(--primary-hue-200), 0%, 9.1%);
  --clr-primary-200-s30: hsl(var(--primary-hue-200), 0%, 7%);
  --clr-primary-200-l40: hsl(var(--primary-hue-200), 0%, 9.8%);
  --clr-primary-200-s40: hsl(var(--primary-hue-200), 0%, 7%);
  --clr-primary-200-l50: hsl(var(--primary-hue-200), 0%, 10.5%);
  --clr-primary-200-s50: hsl(var(--primary-hue-200), 0%, 7%);
  --clr-secondary-100: hsl(var(--secondary-hue-100), 14%, 42%);
  --clr-secondary-100-h: var(--secondary-hue-100);
  --clr-secondary-100-s: 14%;
  --clr-secondary-100-l: 42%;
  --clr-secondary-100-l10: hsl(var(--secondary-hue-100), 14%, 46.2%);
  --clr-secondary-100-s10: hsl(var(--secondary-hue-100), 15.4%, 42%);
  --clr-secondary-100-l20: hsl(var(--secondary-hue-100), 14%, 50.4%);
  --clr-secondary-100-s20: hsl(var(--secondary-hue-100), 16.8%, 42%);
  --clr-secondary-100-l30: hsl(var(--secondary-hue-100), 14%, 54.6%);
  --clr-secondary-100-s30: hsl(var(--secondary-hue-100), 18.2%, 42%);
  --clr-secondary-100-l40: hsl(var(--secondary-hue-100), 14%, 58.8%);
  --clr-secondary-100-s40: hsl(var(--secondary-hue-100), 19.6%, 42%);
  --clr-secondary-100-l50: hsl(var(--secondary-hue-100), 14%, 63%);
  --clr-secondary-100-s50: hsl(var(--secondary-hue-100), 21%, 42%);
  --clr-secondary-200: hsl(var(--secondary-hue-200), 21%, 18%);
  --clr-secondary-200-h: var(--secondary-hue-200);
  --clr-secondary-200-s: 21%;
  --clr-secondary-200-l: 18%;
  --clr-secondary-200-l10: hsl(var(--secondary-hue-200), 21%, 19.8%);
  --clr-secondary-200-s10: hsl(var(--secondary-hue-200), 23.1%, 18%);
  --clr-secondary-200-l20: hsl(var(--secondary-hue-200), 21%, 21.6%);
  --clr-secondary-200-s20: hsl(var(--secondary-hue-200), 25.2%, 18%);
  --clr-secondary-200-l30: hsl(var(--secondary-hue-200), 21%, 23.4%);
  --clr-secondary-200-s30: hsl(var(--secondary-hue-200), 27.3%, 18%);
  --clr-secondary-200-l40: hsl(var(--secondary-hue-200), 21%, 25.2%);
  --clr-secondary-200-s40: hsl(var(--secondary-hue-200), 29.4%, 18%);
  --clr-secondary-200-l50: hsl(var(--secondary-hue-200), 21%, 27%);
  --clr-secondary-200-s50: hsl(var(--secondary-hue-200), 31.5%, 18%);
  --clr-secondary-300: hsl(var(--secondary-hue-300), 30%, 13%);
  --clr-secondary-300-h: var(--secondary-hue-300);
  --clr-secondary-300-s: 30%;
  --clr-secondary-300-l: 13%;
  --clr-secondary-300-l10: hsl(var(--secondary-hue-300), 30%, 14.3%);
  --clr-secondary-300-s10: hsl(var(--secondary-hue-300), 33%, 13%);
  --clr-secondary-300-l20: hsl(var(--secondary-hue-300), 30%, 15.6%);
  --clr-secondary-300-s20: hsl(var(--secondary-hue-300), 36%, 13%);
  --clr-secondary-300-l30: hsl(var(--secondary-hue-300), 30%, 16.9%);
  --clr-secondary-300-s30: hsl(var(--secondary-hue-300), 39%, 13%);
  --clr-secondary-300-l40: hsl(var(--secondary-hue-300), 30%, 18.2%);
  --clr-secondary-300-s40: hsl(var(--secondary-hue-300), 42%, 13%);
  --clr-secondary-300-l50: hsl(var(--secondary-hue-300), 30%, 19.5%);
  --clr-secondary-300-s50: hsl(var(--secondary-hue-300), 45%, 13%);
  --box-shadow-100: 2.5rem 2.5rem 7rem hsla(calc(var(--clr-primary-200-h) * 1), calc(var(--clr-primary-200-s) * 1), calc(var(--clr-primary-200-l) * 1), 0.8);
  --br: 3rem;
  --spacer: 1.6rem;
  --space-unit:  1em;
  --space-xxxxs: calc(0.125 * var(--space-unit));
  --space-xxxs:  calc(0.25 * var(--space-unit));
  --space-xxs:   calc(0.375 * var(--space-unit));
  --space-xs:    calc(0.5 * var(--space-unit));
  --space-sm:    calc(0.75 * var(--space-unit));
  --space-md:    calc(1.25 * var(--space-unit));
  --space-lg:    calc(2 * var(--space-unit));
  --space-xl:    calc(3.25 * var(--space-unit));
  --space-xxl:   calc(5.25 * var(--space-unit));
  --space-xxxl:  calc(8.5 * var(--space-unit));
  --space-xxxxl: calc(13.75 * var(--space-unit));
}

html {
  font-size: 62.5%;
}

:root {
  --ff-primary: 'Spartan', sans-serif;
  --text-base-size: 0.9375rem;
  --text-scale-ratio: 1.125;
  --text-unit: var(--text-base-size);
  --fw-300: 300;
  --fw-400: 400;
  --fw-600: 600;
  --fw-700: 700;
}

@media only screen and (min-width: 37.5em) {
  :root {
    --text-base-size: 1.8rem;
    --text-scale-ratio: 1.25;
  }
}

:root, * {
  --text-xs: calc((var(--text-unit) / var(--text-scale-ratio)) / var(--text-scale-ratio));
  --text-sm: calc(var(--text-xs) * var(--text-scale-ratio));
  --text-md: calc(var(--text-sm) * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-lg: calc(var(--text-md) * var(--text-scale-ratio));
  --text-xl: calc(var(--text-lg) * var(--text-scale-ratio));
  --text-xxl: calc(var(--text-xl) * var(--text-scale-ratio));
  --text-xxxl: calc(var(--text-xxl) * var(--text-scale-ratio));
  --text-xxxxl: calc(var(--text-xxl) * var(--text-scale-ratio));
}

h1, .h1 {
  font-size: var(--text-xxxxl);
  font-weight: var(--fw-300);
  letter-spacing: -0.8;
  line-height: 1.125;
}

h2, .h2 {
  font-size: var(--text-xxl);
  font-weight: var(--fw-700);
  letter-spacing: -0.5;
  line-height: 1.56;
}

h3, .h3 {
  font-size: calc(var(--text-base-size) + 1);
  font-weight: var(--fw-700);
  letter-spacing: 2;
  line-height: 1.56;
}

@media only screen and (min-width: 37.5em) {
  h3, .h3 {
    font-size: var(--text-base-size);
    font-weight: var(--fw-700);
    letter-spacing: -.22;
    line-height: 2;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4 {
  font-family: var(--ff-secondary);
}

body,
h1,
h2,
h3,
p,
dl,
dd,
figure {
  margin: 0;
}

ul[class],
ol[class] {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

input,
label,
select,
button,
textarea {
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1;
  font: inherit;
}

input:focus {
  outline: 0;
}

a {
  color: inherit;
  font-family: inherit;
  display: inline-block;
  text-decoration: none;
}

body {
  font-size: var(--text-base-size);
}

.container {
  max-width: 144rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
}

.container > * {
  background-color: var(--bg, var(--clr-neutral-100));
  color: var(--fg, var(--clr-secondary-200));
  font-family: var(--ff-primary);
  font-size: var(--text-base-size);
  line-height: 1.87;
  letter-spacing: -0.19;
  padding: 4rem 2rem;
}

@media only screen and (min-width: 37.5em) {
  .container > * {
    line-height: 1.66;
    letter-spacing: -0.22;
    padding: 4rem;
  }
}

@media only screen and (min-width: 75em) {
  .container > * {
    padding: 8rem 14rem;
  }
}

body {
  background: var(--clr-secondary-100-op7);
}
